In [1]:
import pandas as pd
import numpy as np

data_path = './data/data-science-london-scikit-learn/'

In [2]:
df_train_x = pd.read_csv(data_path + 'train.csv', header=None)
print(df_train_x.shape)
df_train_x.head()

(1000, 40)

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,0.299403,-1.226624,1.498425,-1.176150,5.289853,0.208297,2.404498,1.594506,-0.051608,0.663234,...,-0.850465,-0.622990,-1.833057,0.293024,3.552681,0.717611,3.305972,-2.715559,-2.682409,0.101050
1,-1.174176,0.332157,0.949919,-1.285328,2.199061,-0.151268,-0.427039,2.619246,-0.765884,-0.093780,...,-0.819750,0.012037,2.038836,0.468579,-0.517657,0.422326,0.803699,1.213219,1.382932,-1.817761
2,1.192222,-0.414371,0.067054,-2.233568,3.658881,0.089007,0.203439,-4.219054,-1.184919,-1.240310,...,-0.604501,0.750054,-3.360521,0.856988,-2.751451,-1.582735,1.672246,0.656438,-0.932473,2.987436
3,1.573270,-0.580318,-0.866332,-0.603812,3.125716,0.870321,-0.161992,4.499666,1.038741,-1.092716,...,1.022959,1.275598,-3.480110,-1.065252,2.153133,1.563539,2.767117,0.215748,0.619645,1.883397
4,-0.613071,-0.644204,1.112558,-0.032397,3.490142,-0.011935,1.443521,-4.290282,-1.761308,0.807652,...,0.513906,-1.803473,0.518579,-0.205029,-4.744566,-1.520015,1.830651,0.870772,-1.894609,0.408332

In [3]:
df_train_y = pd.read_csv(data_path + 'trainLabels.csv', header=None)
print(df_train_y.shape)
df_train_y.head()

(1000, 1)

   0
0  1
1  0
2  0
3  1
4  0

In [4]:
df_test_x = pd.read_csv(data_path + 'test.csv', header=None)
print(df_test_x.shape)
df_test_x.head()

(9000, 40)

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,2.808909,-0.242894,-0.546421,0.255162,1.749736,-0.030458,-1.322071,3.578071,-0.667578,-0.884257,...,-0.261688,-0.224375,-1.675606,-0.479584,-0.244388,-0.672355,0.517860,0.010665,-0.419214,2.818387
1,-0.374101,0.537669,0.081063,0.756773,0.915231,2.557282,3.703187,1.673835,-0.764122,-1.228040,...,-0.969463,0.574154,-2.200519,-1.612240,0.179031,-2.924596,0.643610,-1.470939,-0.067408,-0.976265
2,-0.088370,0.154743,0.380716,-1.176126,1.699867,-0.258627,-1.384999,1.093584,1.596633,0.230631,...,-0.769885,-0.005143,1.467490,0.483803,-3.542981,0.814561,-1.652948,1.265866,-1.749248,1.773784
3,-0.685635,0.501283,1.873375,0.215224,-3.983468,-0.103637,4.136113,-0.225431,-1.515015,-1.071763,...,0.968609,2.386412,-0.131219,0.285646,2.302069,1.255588,-1.563090,-0.125258,-1.030761,-2.945329
4,0.350867,0.721897,-0.477104,-1.748776,-2.627405,1.075433,4.954253,-3.293501,-0.760369,0.204360,...,0.260553,-2.045650,-2.173227,0.372992,0.450700,-0.211657,1.301359,-0.522164,2.484883,0.039213

In [5]:
from sklearn import metrics
from sklearn.model_selection import train_test_split, KFold, GridSearchCV
from sklearn.ensemble import GradientBoostingClassifier

In [6]:
x_train, x_test, y_train, y_test = train_test_split(df_train_x, np.ravel(df_train_y), test_size=0.25, random_state=4)
clf = GradientBoostingClassifier()
clf.fit(x_train, y_train)
y_pred = clf.predict(x_test)
acc = metrics.accuracy_score(y_test, y_pred)
print("Acuuracy: ", acc)

Acuuracy:  0.892

In [7]:
submission = pd.DataFrame(clf.predict(df_test_x))
submission.columns = ['Solution']
submission['Id'] = np.arange(1, submission.shape[0]+1)
submission = submission[['Id', 'Solution']]
submission

        Id  Solution
0        1         1
1        2         0
2        3         0
3        4         0
4        5         0
5        6         0
6        7         0
7        8         1
8        9         0
9       10         0
10      11         1
11      12         1
12      13         1
13      14         0
14      15         0
15      16         1
16      17         0
17      18         0
18      19         1
19      20         1
20      21         0
21      22         1
22      23         0
23      24         0
24      25         1
25      26         1
26      27         1
27      28         0
28      29         1
29      30         0
...    ...       ...
8970  8971         1
8971  8972         0
8972  8973         1
8973  8974         1
8974  8975         1
8975  8976         1
8976  8977         0
8977  8978         1
8978  8979         1
8979  8980         1
8980  8981         1
8981  8982         1
8982  8983         0
8983  8984         0
8984  8985         0
8985  8986         1
8986  8987         0
8987  8988         0
8988  8989         1
8989  8990         1
8990  8991         0
8991  8992         1
8992  8993         0
8993  8994         1
8994  8995         1
8995  8996         1
8996  8997         1
8997  8998         1
8998  8999         0
8999  9000         1

[9000 rows x 2 columns]

In [8]:
submission.to_csv('Day_048_HW_submission_GB_default.csv', index=False)